body {
	background-image: url(http://ramki-vsem.ru/fony/fioletovyj-fon19.jpg);
}

div {
	height: 100px;
	width: 100px;
	background-color: red;
	border-radius: 50%;
	visibility: visible;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}